*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main-form{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#first-form{
    height: 100%;
    width: 80%;
    background-color: rgb(32, 32, 32);
    padding: 5vw 3vw;
}
#first-form h1{
    font-size: 8vw;
    font-weight: 900;
    font-family: "Josefin Sans", sans-serif;
  color: rgb(172, 237, 9);
    text-shadow: 0px 0px 15px rgb(172, 237, 9);
    letter-spacing: -2px;
}
#first-form p{
    font-size: 2vw;
    font-family: "Josefin Sans", sans-serif;   
     color: rgb(231, 231, 231);
    padding: 1vw 4vw;
}
#first-form .input input{
    margin-left: 20px;
    width: 60%;
    border: none;
    height: 4vw;
    Margin-top: 1vw;
    border-bottom: 1px solid rgb(172, 237, 9);
    background-color: transparent;
    outline: none;
    color: aliceblue;
}
#first-form .input input:active{
  
    border-bottom: 1px solid rgb(172, 237, 9);
    
}
#first-form form button{
    color: black;
    margin-left: 20px;
    width: 60%;
    border: none;
    height: 4vw;
    Margin-top: 1vw;
    border-bottom: 1px solid rgb(172, 237, 9);
    background-color: rgb(172, 237, 9);
    box-shadow: 0px 0px 15px rgb(172, 237, 9);
}
#second-form{
    height: 60%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    padding: 2vw 4vw;
}
#second-form h1{
    font-size: 4vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(21, 21, 20); 
}
#second-form #details{
    padding: 4vw 0vw;
    position: relative;
}
#second-form #details span{
    color: rgb(8, 8, 8);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#third-form{
    height: 100%;
    width: 20%;
    background-color: rgb(172, 237, 9);
 
}
#third-form #socials {
      width: 100%;
      display: flex;
      justify-content:space-evenly;
       top: 90%;
       padding-top: 4vw;
}
#third-form #socials div a{
  text-decoration: none;
   color: black;
   font-weight: 400;
}

@media (max-width:768px) {
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    html,body{
        height: 100%;
        width: 100%;
    }
    #main-form{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #first-form{
        height: 100%;
        width: 100%;
        background-color: rgb(32, 32, 32);
        padding: 15vw 3vw;
    }
    #first-form h1{
        font-size: 10vw;
        font-weight: 900;
        font-family: "Josefin Sans", sans-serif;
      color: rgb(172, 237, 9);
        text-shadow: 0px 0px 15px rgb(172, 237, 9);
        letter-spacing: -2px;
        padding-left: 15px;
    }
    #first-form p{
        font-size: 4vw;
        font-family: "Josefin Sans", sans-serif;   
         color: rgb(231, 231, 231);
        padding: 1vw 4vw;
    }
    #first-form .input input{
        margin-left: 20px;
        width: 90%;
        border: none;
        height: 4vw;
        Margin-top: 6vw;
        border-bottom: 1px solid rgb(172, 237, 9);
        background-color: transparent;
        outline: none;
        color: aliceblue;
    }
    #first-form .input input:active{
      
        border-bottom: 1px solid rgb(172, 237, 9);
        
    }
    #first-form form button{
        color: black;
        margin-left: 20px;
        width: 90%;
        border: none;
        height: 8vw;
        Margin-top: 6vw;
        border-bottom: 1px solid rgb(172, 237, 9);
        background-color: rgb(172, 237, 9);
        box-shadow: 0px 0px 15px rgb(172, 237, 9);
    }
    #second-form{
        height: 35%;
        width: 80%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        padding: 2vw 4vw;
    }
    #second-form h1{
        font-size: 4vw;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(21, 21, 20); 
    }
    #second-form #details{
        padding: 4vw 0vw;
        position: relative;
    }
    #second-form #details span{
        color: rgb(8, 8, 8);
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    
    #third-form{
        height: 8%;
        width: 50%;
        background-color: rgb(172, 237, 9);
        position: fixed;
        right: 0;
        top: 56%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    #third-form #socials {
    width: 100%;
          display:flex;
            justify-content: space-evenly;
           padding-top: 4vw;
          
           
    }
    #third-form #socials div a{
      text-decoration: none;
       color: black;
       font-weight: 400;
       
    }
    

}